.artWorkScreen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    position: relative;
    z-index: -9;
}

/* Modals */
.artBackDrop {
  position: fixed; 
  inset: 0;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
}

.artModal {
    position: relative;
    border-radius: 24px;
    background-color: whitesmoke;
}

.artModal img {
    width: 1080px;   
    height: 1080px;
    object-fit: cover;
}

.exitImg {
    position: absolute;
    right: -0.5em;
    top: -0.5em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-size: 4em;
    border-style: none;
}
.exitImg:hover {
    cursor: pointer;
    background-color: rgb(221, 219, 219);
}


/* Images */
.artWorkImages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.imageContainer {
    height: 400px;
    width: 400px;
    max-height: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.artWorkImg {
    border-radius: 50%;
    border: solid 3px black;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.skate {
 box-shadow: -100px 0 0 10px red;
 transition: box-shadow 0.3s ease-in-out;
}

.skate:hover {
    box-shadow: 0 0 0 10px red;
}

.sling {
 box-shadow:  -100px  0 0 10px cyan;
  transition: box-shadow 0.3s ease-in-out;
}

.sling:hover {
    box-shadow: 0 0 0 10px cyan;
}

.coil {
 box-shadow:  -100px  0 0 10px purple;
transition: box-shadow 0.3s ease-in-out;
}

.coil:hover {
    box-shadow: 0 0 0 10px purple;
}

.btn {
    border-style: none;
    background-color: white;
    cursor: pointer;
}