.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mapChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    max-width: 300px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}